model_config_list {
  config {
    name: "potato_classifier"          # The name of the model
    base_path: "/potato_classifier/models/"             # Path where the model is located in the Docker container
    model_platform: "tensorflow"       # Model platform (tensorflow)
    model_version_policy {
      all: {}                           # Serve all versions of the model
    }
  }
}
